<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          {{ site.description | escape }}<br/>
          Content available under a <a rel="license" href="https://firechip.dev/licensing/website-content/">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://firechip.dev/privacy/websites/">Website Privacy Notice</a></li>
          <li><a href="https://firechip.dev/privacy/websites/#cookies">Cookies</a></li>
          <li><a href="https://firechip.dev/about/legal/">Legal</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>

<script src="{{ 'assets/js/protocol/protocol-details.js' | relative_url }}"></script>
<script src="{{ 'assets/js/protocol/protocol-footer.js' | relative_url }}"></script>
